name: .NET CI

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2

    - name: Setup .NET
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: 6.0.x

    - name: Restore dependencies
      run: dotnet restore     
    - name: Test
      run: dotnet test ReDI.Tests --verbosity normal
    
    - name: Build
      run: dotnet build -c Release --no-restore

    - name: Publish NuGet
      run: |
        dotnet pack --no-build -o nupkg
        dotnet nuget push nupkg/*.nupkg --api-key ${{secrets.NUGET_API_KEY}} --source https://api.nuget.org/v3/index.json

